
/*------Estilos globales-----------*/
html {
    font-size: 62.5%; /* Tamaño de 10 px = 1 rem */
    box-sizing: border-box;
    font-family: var(--fuentePrincipal);
    background-color: var(--whiteColor);
    overflow-x: hidden;
}

/*Fuente importada*/
@font-face {
    font-family: "Reman";
    src: url("./assets/fonts/Reman.ttf");
}

*, *:before, *:after {
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
}

        /* Clases auxiliares */
/*Creamos un contenedor que agrega un espaciado*/
.container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

.fijar-body{
    overflow: hidden;
}

.flex{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
}

.margin-y{
    margin: 5rem auto;
}

.uppercase{
    text-transform: uppercase;
}

a{
    text-decoration: none;
    font-size: 1.4rem  ;
}
img {
    max-width: 100%;
}
h1, h2, h3, h4{
    margin: 0;
}
h1{
    font-size: 6.3rem;
    font-family: "Reman";
}
h2{
    font-size: 3.5rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
h6{
    font-size: 1.4rem;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

/*Variables a Utilizar*/
:root{
    --fuentePrincipal: omnes-pro, sans-serif;
    --mainColor: #31343B;
    --secondColor: #495F6B;
    --primaryColor: #DCAF27;
    --whiteColor: #FFFF;
    --bgColor: #FAFAFA;
}

/*Estilos al Header*/

/*Estilos Navbar*/
.nav-container{
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    padding: 3rem 0;
}

/*Espaciado*/
.nav-container__left img{
    max-width: 32rem;
    max-height: 9rem;
}

.nav-container__right{
    display: grid;
}

.nav-container__right a, span{
    color: var(--secondColor);
    padding: 0 2rem;
}

.login-container{
    justify-content: flex-end;
}

/*Bordes derechos*/
.login-container a {
    border-right: 1px solid var(--secondColor);
}

/*Medidas de los iconos*/
.login-container img{
    max-height: 2.5rem;
    max-width: 5rem;
}

.login-container a, picture{
    margin: 0 1rem;
}

.container-login__picture{
    background-color: var(--primaryColor);
    align-items: center;
    font-weight: bold;
    color: var(--whiteColor);
    border-radius: 1rem;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
}

/*Container links de navegacion y menu dropdown*/
.links-list a:hover{
    color: var(--primaryColor);
    text-decoration: underline;
}

.links-list ul{
    display: inline-block;
    width: 100%;
}

.links-container ul li{
    display: inline-block;
    position: relative;
    float: left;
}

.links-container ul li.dropdown ul {
    position: absolute;
    left: 0;
    padding-left: 0;
    min-width: 15rem;
    visibility: hidden;
    background-color: var(--whiteColor);
    margin-top: 5rem;
    z-index: 1;
}

.links-container ul li.dropdown ul li a {
    min-width: 12rem;
    padding: 1rem 2rem;
    border-radius: 10rem;
}

.links-container ul li a{
    display: inline-block;
    color: var(--textoGris);
    font-size: 1.7rem;
    margin: 0 2.5rem;
    padding: 0.8rem;
    transition: all ease 0.3s;
}

.links-container ul li.dropdown:hover ul {
    visibility: visible;
    background-color: var(--whiteColor);
}

/*Color al ultimo elemento de la lista*/

.links-container ul li.dropdown ul li:last-child{
    color: var(--primaryColor);
}

.links-container i, .links-container input {
    display: none;
}

@media (max-width: 768px ) {
    .nav-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .login-container{
        display: none;
    }

    /*Menu hamburguesa en responsive*/
    .links-container i, .links-container input {
        display: block;
    }
    .links-container input[type="checkbox"], .links-container .fa-bars, .links-container .fa-times {
        position: absolute;  
        padding: 0;
        right: -3rem;
        top: 0;
        bottom: 0;
        width: 4rem;
        height: 4rem;  
    }
    .links-container .fa-bars, .links-container .fa-times {
        font-size: 4rem;
        pointer-events: none;
        margin-top: 1.5rem;
        padding: 0;
    }
    .links-container input[type="checkbox"] {
        opacity: 0; 
    }
    .links-container {
        color: var(--secondColor);
        position: relative; 
        min-height: 4rem;

    }
    .links-container ul {
        display: none;
    }
    .links-container input:checked ~ ul {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
    .links-container input:checked ~ .fa-bars {
        display: none;
    }
    .links-container input:not(:checked) ~ .fa-times {
        display: none;
    }
    /*Termina menu hamburguesa en responsive*/
}

/*Seccion de banner*/
.container-banner{
    display: grid;
    height: 67rem;
    background-image: url(./assets/img/shutterstock_439061860.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 2;
    padding: 5rem 5rem;
    position: relative;
}

/*Overlay para oscurecer el fondo*/
.container-banner::before {
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.4);
}

.container-banner__right{
    color: var(--whiteColor);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 0 15rem;
    position: relative;
}

.container-banner__right h2::before{
    content: '';
    display: inline-flex;
    background-color: var(--whiteColor);
    position: absolute;
    margin: 2rem -12rem;
    width: 10rem;
    height: 0.5rem;
}

.container-banner__right h3{
    margin-right: 15rem;
}

.container-banner__right ul{
    list-style-type: disc;
    font-size: 3.1rem;
    margin: 2rem 0;
}

/*Estilos al badge y su span*/
.container-badge{
    align-items: center;
}
.container-badge span{
    padding: 0.2rem;
    color: var(--primaryColor);
    font-size: 1.4rem;
}
.container-badge span::before{
    content: '>';
    padding: 0.2rem;
    color: black;
    font-size: 1.4rem;
}

@media (max-width: 768px ) {
    .container-banner__right{
        padding: 0;
        justify-content: center;
        gap: 1rem;
    }
    .container-banner__right h3{
        margin-right: 0;
    }
}

@media (max-width: 667px ) {
    .container-banner__right h2::before{
        display: none;
    }
}

/*Estilos al H1 Secundo*/
.nosotros-container h1::before{
    content: '';
    width: 5rem;
    display: inline-block;
    height: 1px;
    background-color: black;
}

.nosotros-container__h4{
    color: var(--primaryColor);
    padding-top: -1rem;
    margin-left: 20rem;
}

.nosotros-container p{
    font-size: 1.7rem;
    margin: 2rem auto;
}

.nosotros-container__btn{
    max-width: 100%;
    margin: 8rem auto;
    text-align: center;
}

@media (max-width: 768px ) {
    .nosotros-container__h4{
        font-size: 2rem;
    }
    .nosotros-container p{
        font-size: 1.7rem;
    }
}

/*Estilos a las redes sociales*/
.container-redes__img{
    min-width: 8rem;
    margin: 3rem 5rem;
    text-align: center;
    max-height: 8.3rem;
}

.container-redes__text{
    align-self: center;
    color: var(--secondColor);
}

.container-redes__text p{
    font-size: 1.7rem;
    margin: 0;
}

@media (max-width: 768px ) {
    .redes-container__items{
        margin: 10rem 0;
    }
    .container-redes__img{
        margin: 0;
        text-align: start;
    }
    .container-redes__img img{
        max-width: 5rem;
        max-height: 5rem;
    }
    .container-redes__text h2{
        font-size: 2rem;
    }
    .container-redes__text p{
        font-size: 1.7rem;
    }
}

/*Sección Nous contacter*/
.container-contacto{
    background-color: var(--bgColor);
    padding-right: 5rem;
    margin: 20rem 0 20rem 20rem; /*20 arriba y abajo y 20 izquierda*/
    min-height: 58rem;
    color: var(--secondColor);
}

.container-contacto__left h4::before{
    content: '';
    display: inline-block;
    width: 5rem;
    height: 1px;
    background-color: var(--secondColor);
    margin: 0.8rem 1rem;
}

.container-contacto__left{
    padding: 0 4rem;
    max-width: 50%;
}

.container-contacto__left p{
    font-size: 1.7rem;
    margin: 5rem 0;
}

.container-contacto__right img{
    max-height: 62rem;
    max-width: 62rem;
    position: absolute;
    bottom: -160rem;
}

@media (max-width: 768px ) {
    .container-contacto{
        margin: 0 auto;
        display: inline-block;
        text-align: center;
        padding: 5rem 0;
    }
    .container-contacto__left{
        max-width: 100%;
    }
    .container-contacto__left p{
        font-size: 2rem;
        margin: 5rem 0;
    }
    .container-contacto__right img {
        position: relative;
        max-width: 40rem;
        max-height: 40rem;
        margin: 5rem 0;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }
}

@media (max-width: 667px ) {
    .container-contacto__left p{
        font-size: 1.5rem;
    }
    .container-contacto__right img {
        max-width: 20rem;
        max-height: 20rem;
    }
}

/*Galerry*/
.container-lightbox h1::before{
    content: '';
    width: 5rem;
    display: inline-block;
    height: 1px;
    background-color: black;
}

.galeria-imagenes{
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 3rem 0;
}

.overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    display: grid;
    place-items: center; /*Centra horizontal como vertical*/
}

.btnCerrar{
    width: 5rem;
    height: 5rem;
    background-color: var(--whiteColor);
    display: grid;
    place-items: center;
    font-weight: black;
    font-size: 3rem;
    border-radius: 50%;
    cursor: pointer;
}

.container-gallery img{
    cursor: pointer;
}

/* responsive al grid de galeria */
@media (max-width: 768px ) {
    .galeria-imagenes{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 667px ) {
    .galeria-imagenes{
        padding: 0;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        text-align: center;
        margin: 3rem auto;
    }
}

/*Estilos al Footer*/
footer{
    background-color: var(--bgColor);
    margin-top: 10rem;
}

footer h2{
    color: var(--primaryColor);
}

footer h2::before{
    content: '';
    display: inline-block;
    background-color: var(--secondColor);
    margin: 1rem 1rem;
    width: 7rem;
    height: 1px;
}

footer .container{
    grid-template-columns: repeat(3, 1fr);
    padding: 5rem 2rem;
}

.footer-container__informations p{
    font-size: 2rem;
    color: var(--secondColor);
}

.footer-container__buttons{
    display: flex;
    min-width: 145%;
    flex-wrap: nowrap;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
}

.footer-container__redes{
    margin: 3rem 0;
    gap: 3rem;
}

.footer-container__newsletter{
    padding: 0 5rem;
    margin-left: 15rem;
}

.footer-container__newsletter input {
    display: block;
    margin: 2rem 0;
    width: 100%;
    border: 1px solid var(--primaryColor);
    padding: 0.5rem 1rem;
}

.footer-container__newsletter a{
    margin-left: 15rem;
}

.footer__mentions{
    max-width: 120rem;
    width: 90%;
    margin: 1rem auto;
    padding: 0 2rem;
}

.footer-container__navigation ul{
    margin: 0 2rem;
    text-align: start;
    display: inline-block;
}

.footer-container__navigation li{
    margin: 1rem 0;
}

.footer-container__navigation a{
    color: var(--secondColor);
}

.footer-container__list{
    display: flex;
    margin: 1rem 0;
    justify-content: flex-end;
}

/*Estilos responsive al footer*/
@media (max-width: 768px ) {
    footer .container{
        grid-template-columns: 1fr;
        padding: 1rem 0;
        margin: 0;
        width: 100%;
    }
    footer h2{
        font-size: 3rem;
        text-align: center;
    }
    footer h2::before{
        display: none;
    }
    .footer-container__informations{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-container__informations a{
        font-size: 1.8rem;
        margin: 1rem 0;
        text-align: center;
    }
    .footer-container__informations p{
        font-size: 1.8rem;
        color: var(--secondColor);
    }
    .footer-container__buttons{
        display: inline-flex;
        min-width: 100%;
        flex-direction: column;
    }
    .footer-container__redes{
        justify-content: center;
    }
    .footer-container__newsletter{
        margin: 5rem auto;
    }
    .footer-container__navigation{
        margin: 0 auto;
    }
    .footer-container__list {
        justify-content: center;
    }
}

@media (max-width: 667px ) {
    footer h2{
        font-size: 2.5rem;
        text-align: center;
    }
    .footer-container__informations a{
        font-size: 1.4rem;
    }
}

/*Botones*/
/*Btn Contactez*/
.banner-button{
    max-width: 30rem;
    max-height: 5rem;
    padding: 1rem 2rem;
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    font-size: 2.7rem;
    font-weight: bold;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
}

.abonnez-button{
    max-width: 48rem;
    padding: 1rem 2.5rem;
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    border: none;
    border-radius: 5rem;
    font-size: 2.7rem;
    margin: 5rem auto;
}

.contacter-button{
    max-width: 25rem;
    padding: 1rem 2.5rem;
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    border: none;
    border-radius: 5rem;
    font-size: 2.7rem;
}

.instagram-button{
    display: inherit;
    text-align: center;
    margin: 0 auto;
    max-width: 40rem;
    padding: 1rem 2.5rem;
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    border: none;
    border-radius: 5rem;
    font-size: 2.7rem;
}

/*Botones footer*/
.button-message{
    /* max-width: 24rem; */
    padding: 1rem 2.5rem;
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    border: none;
    border-radius: 5rem;
    font-size: 1.7rem;
}

.button-inscrire{
    max-width: 24rem;
    padding: 1rem 2.5rem;
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    border: none;
    border-radius: 5rem;
    font-size: 1.7rem;
}

.button-demander{
    padding: 1rem 2.5rem;
    background-color: var(--primaryColor);
    color: var(--whiteColor);
    border: none;
    border-radius: 5rem;
    font-size: 1.7rem;
}

.button-espace{
    max-width: 24rem;
    padding: 1rem;
    background-color: var(--secondColor);
    color: var(--whiteColor);
    border: none;
    font-size: 1.7rem;
}

/*Botones en responsive*/
/* Tablet */
@media (max-width: 768px ) {
    .instagram-button{
        font-size: 2rem;
        max-width: 80%;
    }
    .contacter-button{
        font-size: 2rem;
    }
    .abonnez-button{
        font-size: 2rem;
    }
    .banner-button{
        font-size: 2.5rem;
        margin: 10rem auto;
    }
    .button-message{
        font-size: 2rem;
        max-width: 30rem;
    }
}

/* Celulares */
@media (max-width: 667px ) {
    .instagram-button{
        font-size: 1.7rem;
        max-width: 80%;
    }
    .banner-button{
        font-size: 1.7rem;
        margin: 10rem auto;
    }
    .abonnez-button{
        font-size: 1.7rem;
    }
}